<section>
    <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold">Skills</h2>
    <div class="flex gap-x-6 sm:gap-x-10 lg:gap-x-20 mt-8 lg:mt-10">
        <div class="relative group">
            <img src="/assets/icons/javascript_icon.svg" class="w-full lg:w-18" alt="javascript icon">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">JavaScript</span>
        </div>
        <div class="relative group">
            <img src="/assets/icons/angular_icon.svg" class="w-full lg:w-18" alt="angular icon">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">Angular</span>
        </div>
        <div class="relative group">
            <img src="/assets/icons/typescript_icon.svg" class="w-full lg:w-18" alt="typescript icon">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">TypeScript</span>
        </div>
        <div class="relative group">
            <img src="/assets/icons/node_icon.svg" class="w-full lg:w-18" alt="node icon">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">NodeJS</span>
        </div>
        <div class="relative group">
            <img src="/assets/icons/tailwind_icon.svg" class="w-full lg:w-18" alt="tailwind icon">
            <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">Tailwind</span>
        </div>
    </div>
</section>
