<header class="fixed top-0 z-10 w-full lg:mx-auto">
    <nav
        class="flex justify-between items-center p-3 lg:p-5 px-7 m-5 mx-3 max-w-4xl lg:mx-auto bg-primary-blue/75 backdrop-blur-lg rounded-4xl border-2 border-primary-gold">

        <!-- mobile content -->
        <div (click)="toggleMenu()" class="flex justify-center w-12 h-12 items-center lg:hidden cursor-pointer"
            [ngClass]="{'bg-hover-blue border-2 border-gray-600 rounded-2xl p-1': isMenuOpen()}">
            <img class="w-10 h-10" src="/assets/icons/menu.svg" alt="menu">
        </div>
        <img (click)="scrollToSection('top')" class="lg:hidden w-9 h-9 drop-shadow-[0_0_3px_#EAC85F]" src="/assets/icons/juanes_logo.svg" alt="logo">
        <!-- desktop content -->
        <div class="hidden lg:flex justify-around items-center w-full cursor-pointer font-poppins">
            <a class="relative font-bold group" (click)="scrollToSection('top')">
                Home
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </a>
            <a class="relative font-bold group" (click)="scrollToSection('about-me')">
                About me
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </a>
            <a class="relative font-bold group" (click)="scrollToSection('projects')">
                Projects
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </a>
            <a class="relative font-bold group" (click)="scrollToSection('experience')">
                Experience
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </a>
            <a class="relative font-bold group" (click)="scrollToSection('contact')">
                Contact
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </a>
        </div>

    </nav>
</header>

<!-- Mobile menu -->
<div class="fixed w-[90%] lg:hidden mx-5 bg-primary-blue rounded-4xl border-2 border-primary-gold transition-all transition-discrete duration-300 ease-in-out z-10"
    [ngClass]="isMenuOpen() ? 'opacity-100 ' : 'opacity-0 hidden'">
    <div class="flex flex-col items-center text-xl font-jost font-semibold">
        <a class="w-full py-4 text-center hover:bg-hover-blue transition-colors duration-500 ease-in-out rounded-t-4xl relative"
            (click)="scrollToSection('top')">
            Home
            <div class="absolute bottom-0 left-4 right-4 border-b-2 border-primary-gold"></div>
        </a>
        <a class="w-full py-4 text-center hover:bg-hover-blue transition-colors duration-500 ease-in-out relative"
            (click)="scrollToSection('about-me')">
            About me
            <div class="absolute bottom-0 left-4 right-4 border-b-2 border-primary-gold"></div>
        </a>
        <a class="w-full py-4 text-center hover:bg-hover-blue transition-colors duration-500 ease-in-out relative"
            (click)="scrollToSection('projects')">
            Projects
            <div class="absolute bottom-0 left-4 right-4 border-b-2 border-primary-gold"></div>
        </a>
        <a class="w-full py-4 text-center hover:bg-hover-blue transition-colors duration-500 ease-in-out relative"
            (click)="scrollToSection('experience')">
            Experience
            <div class="absolute bottom-0 left-4 right-4 border-b-2 border-primary-gold"></div>
        </a>
        <a class="w-full py-4 text-center hover:bg-hover-blue transition-colors duration-500 ease-in-out rounded-b-4xl"
            (click)="scrollToSection('contact')">
            Contact
        </a>
    </div>
</div>