<header class="fixed top-0 z-10 w-full mx-auto px-3 md:px-0">
    <nav class="flex justify-between items-center p-3 md:p-5 px-7 m-5 mx-auto md:max-w-xl lg:max-w-3xl bg-primary-blue/75 backdrop-blur-lg rounded-4xl border-2 border-primary-gold">

        <!-- mobile content -->
        <div (click)="toggleMenu()" class="flex justify-center w-12 h-12 items-center md:hidden cursor-pointer"
            [ngClass]="{'bg-hover-blue border-2 border-gray-600 rounded-2xl p-1': isMenuOpen()}">
            <img class="w-10 h-10" src="/assets/icons/menu.svg" alt="menu">
        </div>
        <img (click)="scrollToSection('top')" class="md:hidden w-9 h-9 drop-shadow-[0_0_3px_#EAC85F]" src="/assets/icons/juanes_logo.svg" alt="logo">
        <!-- desktop content -->
        <div class="hidden md:flex justify-around items-center w-full font-poppins">
            <button class="cursor-pointer relative font-bold group" (click)="scrollToSection('top')">
                {{'navbar.home' | translate}}
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </button>
            <button class="cursor-pointer relative font-bold group" (click)="scrollToSection('projects')">
                {{'navbar.projects' | translate}}
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </button>
            <button class="cursor-pointer relative font-bold group" (click)="scrollToSection('experience')">
                {{'navbar.experience' | translate}}
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </button>
            <button class="cursor-pointer relative font-bold group" (click)="scrollToSection('about-me')">
                {{'navbar.about_me' | translate}}
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </button>
            <button class="cursor-pointer relative font-bold group" (click)="scrollToSection('contact')">
                {{'navbar.contact' | translate}}
                <span class="absolute left-0 -bottom-1 h-[0.2rem] w-full scale-x-0 bg-primary-gold transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
            </button>
        </div>

        <div (click)="translateLanguage()" class="group md:hidden absolute left-22 top-5 rounded-full w-8 h-8 animate-drop-shadow-blink duration-300 hover:ring-2 hover:ring-primary-gold cursor-pointer">
            <img 
              [src]="getCurrentLanguage()" 
              alt="Imagen de perfil"
              class="w-full h-full object-cover"
            />
            <span class="absolute -bottom-11 left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">{{'language.title' | translate}}</span>
        </div>

    </nav>
    
    <div (click)="translateLanguage()" class="hidden group md:block absolute right-10 top-9 rounded-full w-10 h-10 animate-drop-shadow-blink duration-300 hover:ring-2 hover:ring-primary-gold cursor-pointer">
        <img 
          [src]="getCurrentLanguage()" 
          alt="Imagen de perfil"
          class="w-full h-full object-cover"
        />
        <span class="absolute -bottom-11 left-1/2 transform -translate-x-1/2 bg-primary-blue border-[1px] font-poppins border-gray-700 text-sm px-2 py-1 mb-1 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200">{{'language.title' | translate}}</span>
    </div>
</header>

<app-sidebar/>