<app-header />

<main id="top" class="mt-28 flex flex-col items-center">

    <section class="flex flex-col items-center gap-y-8 mt-5 font-jost font-semibold">

        <div class="flex flex-col items-center lg:flex-row lg:gap-x-12 lg:mt-12 lg:mb-6">
            <img src="/assets/icons/juanes_logo.svg" alt="logo" class="w-22 h-22 mb-5 lg:w-60 lg:h-60 lg:order-2 lg:-mr-7
            drop-shadow-[0_0_5px_#EAC85F] lg:drop-shadow-[0_0_10px_#EAC85F] -z-10">
            <div class="flex flex-col items-center lg:items-start gap-y-7 lg:gap-y-7">
                <h1 class="text-3xl lg:text-5xl text-center">Juan Esteban Pachón Ruiz</h1>
                <h2 class="text-2xl -mt-4 lg:-mt-2 lg:text-4xl text-center lg:text-left text-primary-gold">Full-stack developer</h2>
                <div class="flex flex-col items-center gap-y-6 lg:flex-row lg:gap-x-8">
                    <button class="bg-primary-blue py-3 px-7 font-poppins rounded-4xl border-2 border-primary-gold hover:bg-hover-blue transition-colors duration-300 ease-in-out cursor-pointer">
                        Download CV
                    </button>
                    <div class="flex items-center gap-x-2">
                        <img src="assets/icons/open_work.svg" class="w-8 h-8" alt="open to work icon">
                        <p>Open to work</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-4 -mt-4 lg:-ml-1 lg:-mt-2">
                    <a href="https://github.com/JuanesPachon" target="_blank"
                        (mouseenter)="changeGithubSrc('/assets/icons/github_icon_gold.svg')"
                        (mouseleave)="changeGithubSrc('/assets/icons/github_icon.svg')">
                        <img [src]="githubSrc" class="w-13 h-13 cursor-pointer" alt="github icon">
                    </a>
                    <a href="https://www.linkedin.com/in/juanes-pachon-web-dev/" target="_blank"
                        (mouseenter)="changeLinkedinSrc('/assets/icons/linkedin_icon_gold.svg')"
                        (mouseleave)="changeLinkedinSrc('/assets/icons/linkedin_icon.svg')">
                        <img [src]="linkedinSrc" class="w-13 h-13 cursor-pointer" alt="linkedin icon">
                    </a>
                </div>
            </div>
        </div>

    </section>

    <div class="flex items-center justify-center w-[90%] max-w-[1024px] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    <section>
        <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold">Skills</h2>
        <div class="flex gap-x-6 sm:gap-x-10 lg:gap-x-15 mt-8 lg:mt-10">
            <img src="/assets/icons/javascript_icon.svg" class="lg:w-15" alt="javascript icon">
            <img src="/assets/icons/angular_icon.svg" class="lg:w-15" alt="angular icon">
            <img src="/assets/icons/typescript_icon.svg" class="lg:w-15" alt="typescript icon">
            <img src="/assets/icons/node_icon.svg" class="lg:w-15" alt="node icon">
            <img src="/assets/icons/tailwind_icon.svg" class="lg:w-15" alt="tailwind icon">
        </div>
    </section>

    <div class="flex items-center justify-center w-[90%] max-w-[1024px] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    <section id="about-me">
        <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold">About me</h2>
        <div class="flex flex-col jsutify-center items-center gap-y-2 mt-8 font-jost font-semibold md:flex-row lg:gap-x-5 md:mx-6 lg:mx-0 max-w-[1024px] lg:-my-6">
            <p class="px-5 text-lg md:max-w-[60%] font-poppins">
                I am a full stack web developer with specialization in frontend, focused on creating fast, interactive interfaces.
                and accessible. My approach is based on building mostly single page applications (SPA) optimized with modular code and
                reusable, prioritizing agile performance and reduced loading times. I implement good practices to ensure 
                a quality experience.
            </p>
            <img src="/assets/images/profile_portfolio.svg" class="w-[80%] h-auto" alt="profile">
        </div>
    </section>

    <div class="flex items-center justify-center w-[90%] max-w-[1024px] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    <section id="projects">
        <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold">Featured Projects</h2>
        <div class="my-10 mx-6 flex flex-col gap-y-10 md:grid md:grid-cols-2 md:gap-x-10 lg:max-w-[1024px]">
            @for (project of projects; track project.id) {
                <app-project-card [project]="project" />
            }
        </div>
    </section>

    <div class="flex items-center justify-center w-[90%] max-w-[1024px] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

</main>