<app-header />

<main id="top" class="mt-28 flex flex-col items-center lg:max-w-[1400px] xl:max-w-[1600px] lg:px-10 xl:px-40 lg:mx-auto">

    <app-hero/>

    <div class="flex items-center justify-center w-[80%] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    <app-skills/>

    <div class="flex items-center justify-center w-[80%] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    @defer (on viewport) {
        <section id="projects">
            <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold">Featured Projects</h2>
            <div class="my-10 mx-6 flex flex-col gap-y-10 md:grid md:grid-cols-2 md:gap-x-10 z-10 lg:mt-15">
                @for (project of projects; track project.id) {
                    <app-project-card [project]="project" />
                }
            </div>
        </section>
    } @placeholder {
        <div class="flex justify-center items-center h-50">
            <p class="text-primary-gold text-3xl font-jost font-semibold">Loading...</p>
        </div>
    }

    <div class="flex items-center justify-center w-[80%] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    @defer (on viewport) {
        <section id="experience" class="mb-2">
            <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold mb-7">Experience</h2>
            @for (experience of experiences; track experience.id) {
                <app-experience-item [experience]="experience" />
            }
        </section>
    } @placeholder {
        <div class="flex justify-center items-center h-50">
            <p class="text-primary-gold text-3xl font-jost font-semibold">Loading...</p>
        </div>
    }

    <div class="flex items-center justify-center w-[80%] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    @defer (on viewport) {
        <app-about-me/>
    } @placeholder {
        <div class="flex justify-center items-center h-50">
            <p class="text-primary-gold text-3xl font-jost font-semibold">Loading...</p>
        </div>
    }

    <div class="flex items-center justify-center w-[80%] lg:w-full my-10">
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
        <div class="mx-4">
            <img src="/assets/icons/diamond_icon.svg" class="w-6 h-6" alt="diamond icon">
        </div>
        <div class="h-[2px] bg-primary-gold flex-grow"></div>
    </div>

    <section id="contact" class="flex flex-col items-center mb-10">
        <h2 class="text-center text-primary-gold text-3xl lg:text-4xl font-jost font-semibold mb-7 mx-2">Got a project in mind? Let's talk!</h2>
        <button class="bg-primary-blue py-3 px-7 font-poppins rounded-4xl border-2 border-primary-gold hover:bg-hover-blue transition-colors duration-300 ease-in-out cursor-pointer">
            Send an email
        </button>
    </section>

</main>

<app-footer />