<div class="mx-auto bg-white/8 backdrop-blur-xl rounded-2xl shadow-lg border-3 border-primary-gold overflow-hidden">
    <img src="/assets/images/project_landing.webp" alt="Project Background" class="object-contain"/>
    <div class="p-6">
        <h2 class="text-2xl font-bold text-primary-gold mb-2">Project #1</h2>
        <p class="text-sm">
            Aplicación móvil nativa para el sistema operativo Android desarrollada para llevar un control de la
            actividad física realizada por el usuario.
        </p>

        <div class="flex items-center gap-2 mt-4 text-sm">
            <span class="px-3 py-1 bg-primary-black rounded-full">Js</span>
            <span class="px-3 py-1 bg-primary-black rounded-full">Tailwind</span>
            <span class="px-3 py-1 bg-primary-black rounded-full">Node</span>
            <span class="px-3 py-px bg-primary-black rounded-full text-primary-gold font-bold text-lg"><p class="-mt-[2px]">+</p></span>
        </div>

        <div class="mt-6">
            <button
                class="w-full py-2 rounded-lg bg-primary-gold text-black font-semibold hover:bg-[#ccae53] transition-colors duration-300 ease-in-out cursor-pointer">
                See more
            </button>
        </div>
    </div>
</div>