<div class="mx-auto bg-white/8 backdrop-blur-xl rounded-2xl shadow-lg border-3 border-primary-gold overflow-hidden md:max-h-[525px]">
    <img [src]="project.image" class="aspect-[16/8] object-cover">
    <div class="p-6">
        <h2 class="text-2xl font-bold text-primary-gold mb-2 line-clamp-1">{{ project.name }}</h2>
        <p class="text-sm line-clamp-4">{{ project.description_en }}</p>

        <div class="flex items-center gap-2 mt-4 text-sm">
            @for (item of mainTechnologies; track item) {
                <span class="px-3 py-1 bg-primary-black rounded-full">{{ item }}</span>
            }
            <span class="px-3 py-px bg-primary-black rounded-full text-primary-gold font-bold text-lg"><p class="-mt-[2px]">+</p></span>
        </div>

        <div class="mt-6 pb-1 flex flex-col gap-y-5 md:flex-row md:gap-x-5">
            <a [href]="project.url" target="_blank" class="text-center w-full py-2 rounded-lg bg-primary-gold text-black font-semibold hover:bg-hover-gold transition-colors duration-300 ease-in-out cursor-pointer">
                Live preview
            </a>
            <a class="text-center w-full py-2 rounded-lg bg-primary-blue font-semibold hover:bg-hover-blue border-2 border-primary-gold transition-colors duration-300 ease-in-out cursor-pointer">
                See more
            </a>
        </div>
    </div>
</div>