@import "tailwindcss";

@theme {

    --color-primary-black: #181C1F;
    --color-primary-blue: #1C2836;
    --color-hover-blue: #2A3B50;
    --color-primary-gold: #EAC85F;
    --color-hover-gold: #D4B51D;

    --font-jost: "Jost", serif;
    --font-poppins: "Poppins", serif;

    --breakpoint-3xl: 120rem;

    --animate-drop-shadow-blink: drop-shadow-blink 1.5s infinite;
    --animate-slide-in: slide-in 1s ease-out;

    @keyframes drop-shadow-blink {
        0%,
        100% {
          filter: drop-shadow(0 0 2px #EAC85F);
        }
        50% {
            filter: none;
        }
    }

    @keyframes slide-in {
        0% {
          transform: translateX(50%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }

}

*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-gold);
    border-radius: 9px;
    border: var(--color-primary) 1px solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccae53;
}

::selection {
    background-color: var(--color-primary-gold);
    color: var(--color-primary-black);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
  }
}
  
::view-transition-old(root) {
    animation: fadeOut .5s ease 0s 1 normal forwards;
}
  
::view-transition-new(root) {
    animation: fadeIn .5s ease 0s 1 normal forwards;
}

